.website-under-construction{
  height: 100%;
  background-image: url("/assets/image/website_under_construction.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  h1{
    font-size: 32px;
    font-weight: bold;
  }
  p{
    font-size: 18px;
  }
  
}