.c-cards {
    padding: 30px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.w-doc-card {
    min-width: 320px;
    max-width: 25%;
    padding: 15px;
}

.doc-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.doc-card-control-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.doc-card-control-menu__edit {

}

.doc-card-control-menu__remove {

}

.doc-card-control-menu-link  {
    display: block;
    color: #777;
    padding: 10px;
}

.doc-card-control-menu-link_edit:hover {
    color: #337ab7;
}

.doc-card-control-menu-link_remove:hover {
    color: #d9534f;
}

.doc-card-title {
    padding: 15px;
    padding-bottom: 0;
    font-size: 20px;
    font-weight: bold;
}

.doc-card_controlled .doc-card-title {
    padding-top: 0;
}

.doc-card-title__link {
    display: block;
    color: #000;
}

.doc-card-title__link:hover {
    color: #337ab7;
    text-decoration: none;
}

.doc-card-body {
    padding: 0 15px;
    padding-top: 15px;
}

.doc-card-status {
    display: flex;
    flex-direction: row;
    padding: 0 15px;
    padding-top: 15px;
}

.doc-card-status__item {
    padding-right: 10px;
}

.doc-card-status__item .label {
    font-size: 14px;
}

.doc-card-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.doc-card-footer-date {
    padding: 15px;
}

.doc-card-footer-application {
    
}

.doc-card-footer-application__link {
    display: block;
    color: #777;
    padding: 15px;
}

.doc-card-footer-application__link:hover {
    color: #337ab7;
}